a:hover,
a:focus {
  color: #2196f3;
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/* HEADER*/

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo,
.logo:hover,
.logo:focus {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 85px;
}
.logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-footer {
  margin-bottom: 20px;
}
.logo-footer,
.logo-footer:hover,
.logo-footer:focus {
  color: #ffffff;
}

.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}
.navigation-list-link,
.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation-list-link::after {
  content: '';
  width: 100%;
  height: 4px;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}
.navigation-list-link:hover::after {
  display: block;
}
.header-adress a {
  display: flex;
  align-items: center;
}
.header-email:hover svg,
.header-tel:hover svg {
  fill: #2196f3;
}
.header-adress svg {
  margin-right: 10px;
  color: #757575;
}
.header-email-hover {
  fill: #2196f3;
}
.header-tel:hover svg {
  fill: #2196f3;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-utils {
  display: flex;
}
.header-email:not(:last-child) {
  margin-right: 30px;
}
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  display: inline-block;
  font-style: normal;
}

/* Hero section*/

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px 0;
}
.hero-bg {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/hero/bg.jpg');
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  display: flex;
  padding: 189px 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.blue-btn {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0 auto;
  display: block;
}
/* О нас*/
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0;
}
.about-us {
  padding: 94px 0 0 0;
}
.about-us-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.about-us-list li {
  width: 270px;
}
.about-us-list-img {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-us-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Чем мы занимаемся*/
.services {
  padding: 94px 0 0 0;
}
.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.services-list li {
  position: relative;
}
.services-list li:not(:last-child) {
  margin-right: 30px;
}
.services-list-img {
  border-radius: 4px;
  width: 100%;
  display: flex;
}
.services-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/*Наша команда*/
.our-team-background {
  background-color: #f5f4fa;
  padding: 94px 0 94px 0;
}

.our-team {
  width: 1170px;
  margin: 0 auto;
}
.our-team-list li:not(:last-child) {
  margin-right: 30px;
}
.our-team-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.our-team-list li {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.our-teame-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.social-icons {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
.social-icons li {
  box-shadow: none;
}
.social-icons li:not(:last-child) {
  margin: 0 10px 24px 0;
}
.social-icons li a {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.social-icons li a:hover {
  background: #2196f3;
}
.social-icons li a svg {
  fill: #afb1b8;
}
.social-icons li a:hover svg {
  fill: #fff;
}
.social-icons-footer li a {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

/*Клиенты*/
.clients {
  padding: 94px 0 94px 0;
}
.clients-list {
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.clients-list li {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 90px;
}
.clients-list li:not(:last-child) {
  margin-right: 30px;
}

/* Footer*/
.footer {
  background: #2f303a;
}
.footer-wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;
}
.footer-list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 69px;
}
.footer-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-email,
.footer-tel {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email {
  margin-bottom: 9px;
}
.subscribe {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*Портфоло*/
.button-portfolio-list {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}
.button-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  display: block;
}
.button-portfolio-list li:not(:last-child) .button-portfolio {
  margin-right: 8px;
}

.button-portfolio:hover {
  background: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
}
.portfolio-item {
  text-decoration: none;
}
.portfolio-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
  padding: 0 24px;
  margin-bottom: 0;
}
.portfoli-item-theme {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0 24px;
}
/*Портфолио*/
.portfolio {
  padding: 94px 0;
}
.button-portfolio-list {
  margin-bottom: 50px;
}
.portfolio-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.portfolio-list li {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-list li:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list li:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
